.navbar {
    /* background: #353a36; */
    background: #202121;
    padding: 30px 32px 66px 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 21.15%;
}

@media (max-width: 790px) {
    .navbar {
        padding: 32px 40px 48px 64px;
    }

    .logo {
        width: 40%;
    }
}

@media (max-width: 420px) {
    .navbar {
        padding: 32px 24px 48px 32px;
    }

    .logo {
        width: 48%;
    }
}

@media (max-width: 380px) {
    .navbar {
        padding: 24px 24px 32px 24px;
    }

    .logo {
        width: 44%;
    }
}