.sidebar-styles {
    width: 12%;
    height: 93vh;
    padding: 16px 16px 0 16px;
    border-right: rgba(255, 193, 7, 0.85) solid 2px;
}

@media (max-width: 780px) {
    .sidebar-styles {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}