@import url("../UI/global.css");

.linkCard {
    text-decoration: none;
}

.card {
    width: 30%;
    background-color: #F7F7F7;
    padding: 72px 40px 40px 40px;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 18px 1px rgba(66, 65, 65, 0.18);
}

.space {
    margin: 0 56px 0 0;
}

.card:hover {
    box-shadow: 0 0 18px 1px rgba(25, 25, 25, 0.3);
}

.card__card,
.card__box,
.card__information,
h1,
.card__information--message {
    box-sizing: border-box;
}

.card__card {
    display: flex;
    flex-direction: column;

    font-family: "Montserrat";
}

.card__box {
    height: 292px;
}

.card__box--img {
    width: 100%;
    height: 100%;
}

.card__information {
    margin: 32px 0 0 0;
}

h1,
.card__information--message {
    text-align: center;
    font-weight: 600;
}

h1 {
    font-size: 24px;
    text-transform: capitalize;
}

.card__information--t1 {
    color: #202121;
    margin: 0 0 4px 0;
}

.card__information--t2 {
    color: #ff9015;
    margin: 0 0 8px 0;
}

.card__information--message {
    color: #707070;
}

@media (max-width: 784px) {
    .card {
        width: 100%;
        margin: 0 0 32px 0;
        padding: 40px 16px 24px 24px;
    }

    .card__card {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 56% 41%;
        gap: 12px;
    }

    .card__box--img {
        width: 100%;
    }

    .card__information {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .card {
        padding: 0 12px;
        margin: 0 0 36px 0;
    }

    .card__card {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 56% 41%;
        gap: 12px;
    }

    .card__box {
        display: flex;
        align-items: center;
    }

    .card__box--img {
        width: 100%;
        height: 64%;
    }
}